@{
    ViewData["Title"] = "Página Inicial";
}

<div class="card text-center text-dark bg-light p-3 shadow-lg p-3 mb-5">
    <div class="card-body">
        <div class="text-center">
            <h1 class="display-4">Bem Vindo</h1>
            <p>O Sensor Gestor melhora o gerenciamento de seus projetos</p>
        </div>
    </div>
</div>
