@model GestaoDeProjetos.Application.ViewModels.NotMapped.ProjetoPessoaEquipeViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProjetoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeProjeto" class="control-label"></label>
                <input asp-for="NomeProjeto" class="form-control" />
                <span asp-validation-for="NomeProjeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prioridade" class="control-label"></label>
                <input asp-for="Prioridade" class="form-control" />
                <span asp-validation-for="Prioridade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPrevista" class="control-label"></label>
                <input asp-for="DataPrevista" class="form-control" />
                <span asp-validation-for="DataPrevista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relatorio" class="control-label"></label>
                <input asp-for="Relatorio" class="form-control" />
                <span asp-validation-for="Relatorio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoordenadorId" class="control-label"></label>
                <select asp-for="CoordenadorId" asp-items="@ViewBag.Coordenador" class="form-control" />
                <span asp-validation-for="CoordenadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipeId" class="control-label"></label>
                <select asp-for="EquipeId" asp-items="@ViewBag.Equipe" class="form-control"></select>
                <span asp-validation-for="EquipeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
